<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/stylesheet.css">
        <title>Discover</title>
    </head>

    <body>
        <div class="NavBar">
            <div class="NavLeft">
                <a href="/home">Home</a>
            </div>
            <div class="Spacer"></div>
            <div class="NavRight">
                <a href="/discover">Discover</a>
                <a href="/settings">Settings</a>
            </div>
        </div>

        <div class="PageContent">
            <% if (song) { %>
                <h2><%= song.name %></h2>
                <p>Artist: <%= song.artists[0].name %></p>
                <p>Album: <%= song.album.name %></p>
                <p>Duration: <%= Math.floor(song.duration_ms / 1000 / 60) %>:<%= Math.floor((song.duration_ms / 1000) % 60).toString().padStart(2, '0') %></p>
            <% } %>
        </div>
    </body>
</html>